<ion-view>

    <ion-nav-title>Home</ion-nav-title>

    <ion-content class="padding">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa debitis eveniet expedita fugit in laborum libero maiores minus modi neque non nulla odio, officia pariatur quidem repellendus, totam voluptas voluptate.</p>
    </ion-content>

</ion-view>