<ion-view class="box-login" hide-nav-bar="true">

    <ion-content class="padding" overflow-scroll="true">

        <h1 class="text-center energized" style="padding-bottom: 0; margin-bottom: 0;"><i class="icon ion-pizza"></i></h1>
        <h3 class="text-center assertive" style="padding-top: 0; margin-top: 0;">Code<strong>Delivery</strong></h3>

        <form name="form" ng-submit="login()">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-email placeholder-icon"></i>
                    <input type="text" name="username" ng-model="user.username" placeholder="Digite seu login" required>
                </label>
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-locked placeholder-icon"></i>
                    <input type="password" name="password" ng-model="user.password" placeholder="Digite sua senha" required>
                </label>
            </div>
            <button type="submit" class="button button-block button-assertive">Fazer Login</button>
        </form>

    </ion-content>
</ion-view>