.box-login .scroll-content { display: table !important; width: 100% !important; height: 100% !important; margin-top: -50px; text-align: center; }
.box-login .scroll { display: table-cell; vertical-align: middle; ''}

.box-login {
    background: #ffffff;
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 50%, #e5e5e5 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 50%,#e5e5e5 100%);
    background: radial-gradient(ellipse at center,  #ffffff 50%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );
}
